header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.logoWrapper {
    width: 23%;
    display: flex;
    justify-content: flex-end;
}